.content, nav {
    padding-left: 240px;
}

nav {
    z-index: 1;
}

.padding-right-users {
    padding-right: 240px;
}

.user-sidenav {
    z-index: -1;
}

.users-heading {
    height: 64px;
}

@media only screen and (max-width: 992px) {
    .content, nav {
        padding-left:0;
    }

    .padding-right-users {
        padding-right: 0;
    }
}

.formCard form.col {
    float: none;
    margin: 0;
}

.tableCard .card-content {
    padding-top: 0;
}

.clickable {
    cursor: hand;
}

.content .picker__date-display {
    background-color: #2196F3 !important;
}

.content .picker__weekday-display, .content .picker__day--selected {
    background-color: #1e88e5 !important;
}

.content .picker__day.picker__day--today {
    color:#2196F3 !important;
}

.content .picker__day--today.picker__day--selected {
    color: white !important;
}

.content .picker__close, .content .picker__today {
    color: #2196F3 !important;
}

.margin-top {
    margin-top: 2em;
}

.valid {

}

svg circle.kandoeRing {
    stroke: #2196F3;
    fill: #2196F3;
    fill-opacity: 0;
}

svg circle.kandoeRing.inner {
    fill-opacity: 1;
}

svg circle.highlight {
    fill: yellow !important;
}

.thCard {
    height: 100px;
    position:relative;
}

.thCard .btn-floating {
    position: absolute;
    top: 5px;
    left:5px;
}

.thCard .card-content {
    height:100%;
    padding: 35px;
}

.hoveredBall {
    animation: flashingBall;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes flashingBall {
    0% {
        r: 35;
    }
    50% {
        r: 50;
    }
    100% {
        r: 35;
    }
}